# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/.dart_tool/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
/build/
/coverage/
**/.packages
.packages

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS Flutter generated
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/AppFrameworkInfo.plist
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_*.xcframework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/FlutterPluginRegistrant/
**/ios/Flutter/ephemeral/flutter_lldb_helper.py
**/ios/Flutter/ephemeral/flutter_lldbinit

# Android Flutter/IDE generated and build
**/android/.gradle/
**/android/local.properties
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/app/build/
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/app/src/main/kotlin/io/flutter/plugins/GeneratedPluginRegistrant.kt
**/android/.idea/
**/android/*.iml

# macOS Flutter generated
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter-Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Linux Flutter generated
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/linux/flutter/generated_embedder.cc
**/linux/flutter/ephemeral/

# Windows Flutter generated
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/ephemeral/
**/windows/flutter/flutter_export_environment.sh

# Web Flutter generated
**/web/.dart_tool/
